*.iml
/.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Arquivos do macOS
.DS_Store

.gradle/
/gradlew.log
/local.properties

/build/
/app/build/outputs/
/captures
.externalNativeBuild
.cxx
